
/* LOGIN */
:root {
    --white: #e9e9e9;
    --gray: #333;
    --blue: rgb(56, 13, 13);
    --lightblue: rgb(83, 6, 6);

    --button-radius: 0.7rem;

    --max-width: 758px;
    --max-height: 420px;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    align-items: center;
    background-color: var(--white);
    background: url(img/1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
    margin: 0; /* Eklenen satır: Sayfa kenar boşluklarını kaldırır */
}


/* Admin login CSS part */

.container1 {
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    height: 30vh;
    margin: auto; /* Yatay hizalama */
}

.form__title1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--blue);
}

.input1 {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn1 {
    width: 100%;
    padding: 10px;
    background-color: var(--blue);
    background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
    color: var(--white);
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn1:hover {
    background-color:rgb(56, 13, 13);
}

.btn1:focus {
    outline: none;
}
